.row1 {
    background: url('http://www.cray.com/blog/wp-content/uploads/2015/09/Weather-Blog-Image.jpg');
    height: 400px;
    background-size: cover;

}

.padding {
    padding: 50px;
    min-height: 250px;
}

body {
    text-align: center;
}